<!--
    <div points-table points="minimaEnvelope" name="Minima Envelope"></div>
    <div points-table points="maximaEnvelope" name="Maxima Envelope"></div>
-->
    <div class="plot-container">
      <h2>Envelopes plot</h2>  
      <div class="attention">
        If you didn't add any extra points on the previous step, envelopes don't know where to go on the edges. <br />
        You can come back and add it now, then find envelopes again.
      </div>
      <div id="envelopes-plot" class="data-plot"></div>
    </div>
