    <div points-table points="minima" name="Minima"></div>
    <div points-table points="maxima" name="Maxima"></div>
    <div class="vertical-margins">extrema left boundary: <input type="text" ng-model="extremaLeftBoundary" /></div>
    <div class="vertical-margins">extrema right boundary: <input type="text" ng-model="extremaRightBoundary" /></div>
    <div class="vertical-margins">extrema search Y-axis threshold (is used to discard noise extrema): <input type="text" ng-model="extremaYThreshold" /></div>
    <button class="calculation-flow" ng-click="recalculateExtrema()">Recalculate extrema considering new options</button>
      
    <div id="extrema-plot" class="data-plot"></div>
  </div>
