  <div ng-controller="FilmSpectrumFileUploadCtrl">
    <button class="calculation-flow" onclick="document.getElementById('upload-field').click();">Upload film spectrum .csv file</button>
    <div id="upload-wrap">
      <input type="file" id="upload-field" ng-file-select="onFileSelect($files)" >
    </div>
    <div ng-if="fileUploadSuccess">
      {[{ uploadedFileName }]} was successefully uploaded
    </div>
    <div ng-if="fileUploadError">
      При загрузке файла произошла ошибка сервера :(
    </div>
  </div>

