<div extrema-upload-form></div>

<!-- loading: loading extrema data -->
<div loading
  message="Loading extrema data"
  img-path="IMG_PATH"
  ng-hide="calculationProgress.extremaReady"
></div>

<div ng-show="calculationProgress.extremaReady">

  <div>
    <div>Substrate Transmission: <input type="text" ng-model="substrateTransmission" /></div>
    <div>Substrate Refractive index: {[{substrateRefractiveIndex | number: 2}]}</div>
  </div>

  <h2>Extrema table</h2>
  <div class="small-font">this table is editable!</div>
  <div id="extrema-table-formulas-page"></div>

  <button
    class="calculation-flow save"
    ng-click="updateExtremaFromTable()"
  >
    Apply table edits 
  </button>
  <br />

  <div class="plot-container">
    <h2>Extrema plot</h2>
    <div>mouse coordinates on plot: <span id="extrema-plot-mouse-coordinates"></span></div>
    <div id="extrema-plot-formulas-page" class="data-plot"></div>
  </div>

  <button
    class="calculation-flow"
    ng-click="calculateRefractiveIndexFirstApproximation()"
  >
    Calculate refractive index first approximation
  </button>

  <br />
  <div ng-show="calculationProgress.refractiveIndexFirstApproximationReady">
     $$
       n_1 = \left[ N + \left( N^2 - s^2 \right)^{\frac{1}{2}} \right] ^{\frac{1}{2}} , \\[4ex]
       \text{where} \\[2ex]
       N = 2s \frac{T_M - T_m}{T_M T_m} + \frac{s^2 + 1}{2} , \\[4ex]
       s = \frac{1}{T_s} + \left( \frac{1}{T_s^2} \right)^\frac{1}{2} .
     $$
    <div class="table-container">
      <h2>Refractive index first approximation</h2>
      <div id="refractive-index-first-approximation"></div>
    </div>
    <br />
  </div>
  <button
    class="calculation-flow"
    ng-click="calculateFilmThicknessFirstApproximation()"
    ng-show="calculationProgress.refractiveIndexFirstApproximationReady"
  >
    Calculate film thickness first approximation
  </button>
  <br />

  <!-- film-thickness-first-approximation -->
  <div ng-show="calculationProgress.filmThicknessFirstApproximationReady">
    <div class="table-container" >
      <h2>Film thickness first approximation</h2>
      <div class="small-font">
        You can delete a few first d_1 before calculating average, if needed
      </div>
      <div id="film-thickness-first-approximation"></div>
    </div>
    <br />
    
    <!-- button: calculate average film thickness first approximation -->
    <button
      class="calculation-flow"
      ng-click="calculateAverageFilmThicknessFirstApproximation()"
      ng-show="calculationProgress.refractiveIndexFirstApproximationReady"
    >
     Calculate average film thickness first approximation
    </button>
    <br />

    <!-- average-film-thickness-first-approximation -->
    <div ng-show="calculationProgress.averageFilmThicknessFirstApproximationReady">
      <span>\( \bar{d_1} = \) </span>{[{averageFilmThicknessFirstApproximation | number: 2}]} nm <br />
      <span>\( \sigma_{d_1} = \)</span> {[{filmThicknessFirstApproximationError | number: 2}]} nm
    </div>
  </div> <!-- end film-thickness-first-approximation -->

  <!-- button: calculate interference orders -->
  <button
    class="calculation-flow"
    ng-click="calculateInterferenceOrders()"
    ng-show="calculationProgress.averageFilmThicknessFirstApproximationReady"
  >
   Calculate interference orders
  </button>
  <br />

  <!-- interference-orders -->
  <div ng-show="calculationProgress.interferenceOrdersReady">
    <div class="table-container" >
      <h2>Interference Orders</h2>
      <div id="interference-orders"></div>
    </div>
    
    <br />
    <br />
    <div>
      First extremum is: <br />
      <input type="radio" ng-model="firstExtremumIs" value="minimum" /> Minimum
      <br />
      <input type="radio" ng-model="firstExtremumIs" value="maximum" /> Maximum<br />
    </div>

    <!-- button: find exact interference orders -->
    <button
      class="calculation-flow"
      ng-click="findExactInterferenceOrders()"
    >
     Find exact integer and half integer interference orders
    </button>
    <br />
  </div> <!-- end interference-orders -->

  <!-- exact interference orders -->
  <div ng-show="calculationProgress.exactInterferenceOrdersReady">
    <div class="table-container" >
      <h2>Exact Interference Orders</h2>
      <div id="exact-interference-orders"></div>
    </div>
    <br />

    <!-- button: find final film thickness -->
    <button
      class="calculation-flow"
      ng-click="findFinalFilmThickness()"
    >
      Find final film thickness
    </button>
    <br />
  </div>

  <!-- final film thickness -->
  <div ng-show="calculationProgress.finalFilmThicknessReady">
    <div class="table-container" >
      <h2>Final film thickness</h2>
      <div id="final-film-thickness"></div>
    </div>
    <br />

    <!-- button: calculate average of final film thickness -->
    <button
      class="calculation-flow"
      ng-click="calculateAverageFilmThicknessFinal()"
    >
      Calculate average of final film thickness
    </button>
    <br />

    <!-- average of final film thickness -->
    <br />
    <div ng-show="calculationProgress.averageFilmThicknessFinalReady">
      <div>
        <span>\( \bar{d_2} = \) </span>{[{averageFilmThicknessFinal | number: 2}]} nm <br />
        <span>\( \sigma_{d_2} = \)</span> {[{filmThicknessFinalError | number: 2}]} nm
      </div>
      <br />
      <!-- button: calculate average of final film thickness -->
      <button
        class="calculation-flow"
        ng-click="calculateFinalRefractiveIndex()"
      >
        Calculate final refractive index
      </button>
      <br />
    </div>
  </div> <!-- final-film-thickness -->

  <!-- final-refractive-index -->
  <div ng-show="calculationProgress.finalRefractiveIndexReady">
    <div class="table-container" >
      <h2>Final refractive index</h2>
      <div id="final-refractive-index"></div>
    </div>
    <br />
    <br />
    <a target="_blank" href="{[{finalRefractiveIndexFileLink}]}">Download final refractive index vs wavelength table</a>
    <br />
    <a target="_blank" href="{[{finalWholeTableFileLink}]}">Download entire calculation results table</a>
    <br />

    <div class="plot-container">
      <h2>Refractive index vs wavelength</h2>
      <div id="refractive-index-plot" class="data-plot"></div>
    </div>
    <br />

    <!-- button: single-oscillator model -->
    <button
      class="calculation-flow"
      ng-click="calculateSingleOscillatorModel()"
    >
      Calculate single-oscillator model
    </button>
    <br />

  </div>


  <!-- debug -->
  <!--
  <h2> Debug </h2>
  N: {[{N}]} <hr />
  n_1: {[{refractiveIndexFirstApproximation}]} <hr />
  calculation results: {[{calculationResultsArray}]} <hr />
  d_1 : {[{filmThicknessFirstApproximation}]} <hr />
  -->

</div>
