#loading-container{
  text-align: center;
  height: 2em;
}
#loading-container #loading {
  display: none;
  background-color: #000;
  color: white;
  padding: .5em;
  border-radius: 0 0 .3em .3em;
}
#site-body {
}
#page-body {
  text-align: center;
  width: 100%;
}
#content {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  margin: 0 20px 0 20px;
}
#button-back, #button-forward {
  display: inline-block;
  padding-top: 250px;
  vertical-align: top;
  width: 50px;
  cursor: pointer;
}
#message-and-controls {
}
#step-directives {
  height: 19%;
  text-align: left;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.2em;
  font-family: Arial;
  margin-bottom: 2em;
}
#step-directives p {
  margin: 0;
  padding: 0;
}
#plot {
  height: 450px;
  width: 100%;
}
#data-plot img.loading {
  vertical-align: middle;
}
#data-plot:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
