<style>
    /* fix conflicts with previous page */
    #page-body {
        text-align: left;
    }
    #button-forward, #button-back {
        display: none;
    }
    /***********************************/


    html, body {
      padding: 0;
      margin: 0;
    }
    body {
    }
    body {
      color: #333;
      line-height: 1.5em;
      font-family: europe, Arial;
    }

    /* a bit of reset styles */
    a {
      text-decoration: none;
    }
    button:focus, input:focus {
      outline: 0;
    }
    button::-moz-focus-inner { border: 0; }
    button:active, input:focus {
      outline: none;
    }
    /************************/

    /* upload form */
#upload-wrap {
      display: none;
    }
    /**************/


    /*** site-header ***/
#site-header {
      height: 45px;
      background-color: black;
      overflow: hidden;
    }
#site-name {
      display: inline-block;
      vertical-align: top;
      color: #0586a4;
      letter-spacing: 2px;
      font-size: 17px;
      margin-left: 40px;
      margin-top: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
    /*** navbar ***/
#navbar {
      vertical-align: top;
      display: inline-block;
      height: 100%;
      margin-left: 200px;
      float: right;
    }
#navbar a {
      display: inline-block;
      height: 100%;
      line-height: 45px;
      padding: 0 20px 0 20px;
      margin: 0;
      font-size: 16px;
      color: white;
      border-left: solid #002139 3px;
    }
    /*******************/
#site-body {
      padding: 20px;
    }

    .calculation-error {
      color: #b10490;
    }

    .data-plot {
      height: 600px;
      width: 1200px;
      margin: 2em 0 2em 0;
    }
    button.calculation-flow, .calculation-flow-button {
      //background-color: #2090ff;
      background-color: #111;
      padding: .5em 1em .5em 1em;
      margin: 1em .3em 1em 0;
      color: white;
      font-weight: bold;
      font-size: .9em;
      border: 0;
      border-radius: 2px;
      cursor: pointer;
    }
    button.download {
      background-color: #a560aa;
    }
    button.save, button.secondary {
      font-size: .9em;
      padding: .3em .6em .3em .6em;
      border-radius: 2px;
      background-color: #555;
    }
    input[type="text"] {
      border: 0;
      background-color: #eee;
      padding: .5em;
      border-radius: .5em;
      font-family: europe;
    }
    .loading-message {
      font-size: 1.5em;
      color: #777;
      font-weight: bold;
    }
    img.loading-icon {
      vertical-align: middle;
    }

    .calculation-results {
      width: 100%;
    }

    ul.data-points {
      background-color: #eef;
      border-radius: 5px;
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    ul.data-points li {
      display: inline-block; 
      padding: 10px;
    }
    ul.data-points li div.row1 {
      border-bottom: solid #aaa 1px;
    }
    .points-table-name {
      font-size: 1.25em;
      color: #555;
      margin: .5em 0 .5em 0;
    }
    .points-table-show-hide-button {
      font-size: 1.25em;
      color: #b8255d;
      margin: .5em 0 .5em 0;
      cursor: pointer;
    }
    .vertical-margins {
      margin: 1em 0 1em 0;
    }

    /*** calculation.css ***/
    .plot-container, .table-container {
      display: inline-block;
      text-align: center;
    }

    /*** fonts.css ***/

    @font-face {
        font-family: 'bauhaus';
        src: url('../fonts/BauhausCTTRegular.eot');
        src: local('☺'), url('../fonts/BauhausCTTRegular.woff') format('woff'), url('../fonts/BauhausCTTRegular.ttf') format('truetype'), url('../fonts/BauhausCTTRegular.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'parkAvenue';
        src: url('../fonts/ParkAvenueNormalA.eot');
        src: local('☺'), url('../fonts/ParkAvenueNormalA.woff') format('woff'), url('../fonts/ParkAvenueNormalA.ttf') format('truetype'), url('../fonts/ParkAvenueNormalA.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'europe';
        src: url('../fonts/EuropeDemiNormal.eot');
        src: local('☺'), url('../fonts/EuropeDemiNormal.woff') format('woff'), url('../fonts/EuropeDemiNormal.ttf') format('truetype'), url('../fonts/EuropeDemiNormal.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    /*** general.css ***/
    .small-font {
      font-size: .75em;
    }
    .tiny-font {
      font-size: .5em;
    }
    .text-align-center {
      text-align: center;
    }
    .attention {
      color: purple;
    }
    .data-plot {
      height: 600px;
      width: 1200px;
      margin: 2em 0 2em 0;
    }
</style>

<!-- 2015-06-16: there's no direct link for this page, so commenting out the download form and the corresponding 'loading' for now -->
<!-- <div extrema-upload-form></div> -->

<!-- loading: loading extrema data -->
<!--
<div loading
  message="Loading extrema data"
  img-path="IMG_PATH"
  ng-hide="calculationProgress.extremaReady"
></div>
-->

<div ng-show="calculationProgress.extremaReady">

  <div>
    <div>Substrate Transmission: <input type="text" ng-model="substrateTransmission" /></div>
    <div>Substrate Refractive index: {[{substrateRefractiveIndex | number: 2}]}</div>
  </div>

  <h2>Extrema table</h2>
  <div class="small-font">this table is editable!</div>
  <div id="extrema-table-formulas-page"></div>

  <button
    class="calculation-flow save"
    ng-click="updateExtremaFromTable()"
  >
    Apply table edits 
  </button>
  <br />

  <div class="plot-container">
    <h2>Extrema plot</h2>
    <div>mouse coordinates on plot: <span id="extrema-plot-mouse-coordinates"></span></div>
    <div id="extrema-plot-formulas-page" class="data-plot" style="height: 600px;"></div>
  </div>

  <button
    class="calculation-flow"
    ng-click="calculateRefractiveIndexFirstApproximation()"
  >
    Calculate refractive index first approximation
  </button>

  <br />
  <div ng-show="calculationProgress.refractiveIndexFirstApproximationReady">
     $$
       n_1 = \left[ N + \left( N^2 - s^2 \right)^{\frac{1}{2}} \right] ^{\frac{1}{2}} , \\[4ex]
       \text{where} \\[2ex]
       N = 2s \frac{T_M - T_m}{T_M T_m} + \frac{s^2 + 1}{2} , \\[4ex]
       s = \frac{1}{T_s} + \left( \frac{1}{T_s^2} \right)^\frac{1}{2} .
     $$
    <div class="table-container">
      <h2>Refractive index first approximation</h2>
      <div id="refractive-index-first-approximation"></div>
    </div>
    <br />
  </div>
  <button
    class="calculation-flow"
    ng-click="calculateFilmThicknessFirstApproximation()"
    ng-show="calculationProgress.refractiveIndexFirstApproximationReady"
  >
    Calculate film thickness first approximation
  </button>
  <br />

  <!-- film-thickness-first-approximation -->
  <div ng-show="calculationProgress.filmThicknessFirstApproximationReady">
    <div class="table-container" >
      <h2>Film thickness first approximation</h2>
      <div class="small-font">
        You can delete a few first d_1 before calculating average, if needed
      </div>
      <div id="film-thickness-first-approximation"></div>
    </div>
    <br />
    
    <!-- button: calculate average film thickness first approximation -->
    <button
      class="calculation-flow"
      ng-click="calculateAverageFilmThicknessFirstApproximation()"
      ng-show="calculationProgress.refractiveIndexFirstApproximationReady"
    >
     Calculate average film thickness first approximation
    </button>
    <br />

    <!-- average-film-thickness-first-approximation -->
    <div ng-show="calculationProgress.averageFilmThicknessFirstApproximationReady">
      <span>\( \bar{d_1} = \) </span>{[{averageFilmThicknessFirstApproximation | number: 2}]} nm <br />
      <span>\( \sigma_{d_1} = \)</span> {[{filmThicknessFirstApproximationError | number: 2}]} nm
      ({[{filmThicknessFirstApproximationRelativeError | number: 2 }]}%)
    </div>
  </div> <!-- end film-thickness-first-approximation -->

  <!-- button: calculate interference orders -->
  <button
    class="calculation-flow"
    ng-click="calculateInterferenceOrders()"
    ng-show="calculationProgress.averageFilmThicknessFirstApproximationReady"
  >
   Calculate interference orders
  </button>
  <br />

  <!-- interference-orders -->
  <div ng-show="calculationProgress.interferenceOrdersReady">
    <div class="table-container" >
      <h2>Interference Orders</h2>
      <div id="interference-orders"></div>
    </div>
    
    <br />
    <br />
    <div>
      First extremum is: <br />
      <input type="radio" ng-model="firstExtremumIs" value="minimum" /> Minimum
      <br />
      <input type="radio" ng-model="firstExtremumIs" value="maximum" /> Maximum<br />
    </div>

    <!-- button: find exact interference orders -->
    <button
      class="calculation-flow"
      ng-click="findExactInterferenceOrders()"
    >
     Find exact integer and half integer interference orders
    </button>
    <br />
  </div> <!-- end interference-orders -->

  <!-- exact interference orders -->
  <div ng-show="calculationProgress.exactInterferenceOrdersReady">
    <div class="table-container" >
      <h2>Exact Interference Orders</h2>
      <div id="exact-interference-orders"></div>
    </div>
    <br />

    <!-- button: find final film thickness -->
    <button
      class="calculation-flow"
      ng-click="findFinalFilmThickness()"
    >
      Find final film thickness
    </button>
    <br />
  </div>

  <!-- final film thickness -->
  <div ng-show="calculationProgress.finalFilmThicknessReady">
    <div class="table-container" >
      <h2>Final film thickness</h2>
      <div id="final-film-thickness"></div>
    </div>
    <br />

    <!-- button: calculate average of final film thickness -->
    <button
      class="calculation-flow"
      ng-click="calculateAverageFilmThicknessFinal()"
    >
      Calculate average of final film thickness
    </button>
    <br />

    <!-- average of final film thickness -->
    <br />
    <div ng-show="calculationProgress.averageFilmThicknessFinalReady">
      <div>
        <span>\( \bar{d_2} = \) </span>{[{averageFilmThicknessFinal | number: 2}]} nm <br />
        <span>\( \sigma_{d_2} = \)</span> {[{filmThicknessFinalError | number: 2}]} nm
        ({[{finalFilmThicknessRelativeError | number: 2 }]}%)
      </div>
      <br />
      <!-- button: calculate average of final film thickness -->
      <button
        class="calculation-flow"
        ng-click="calculateFinalRefractiveIndex()"
      >
        Calculate final refractive index
      </button>
      <br />
    </div>
  </div> <!-- final-film-thickness -->

  <!-- final-refractive-index -->
  <div ng-show="calculationProgress.finalRefractiveIndexReady">
    <div class="table-container" >
      <h2>Final refractive index</h2>
      <div id="final-refractive-index"></div>
    </div>
    <br />
    <br />
    <a target="_blank" href="{[{finalRefractiveIndexFileLink}]}">Download final refractive index vs wavelength table</a>
    <br />
    <a target="_blank" href="{[{finalWholeTableFileLink}]}">Download entire calculation results table</a>
    <br />

    <div class="plot-container">
      <h2>Refractive index vs wavelength</h2>
      <div id="refractive-index-plot" class="data-plot"></div>
    </div>
    <br />

    <!-- button: single-oscillator model -->
    <button
      class="calculation-flow"
      ng-click="calculateSingleOscillatorModel()"
    >
      Calculate single-oscillator model
    </button>
    <br />
  </div>

  <!-- single-oscillator-model -->
  <div ng-show="calculationProgress.singleOscillatorReady">
    <div class="plot-container">
      <h2>Single oscillator model</h2>
      <div id="single-oscillator-plot" class="data-plot"></div>
    </div>
    <br />
    <br />
    Regression line coefficients:
    <span>\( a = \)</span>{[{regressionLineCoef.a | number: 2}]},
    <span>\( b = slope = \)</span> {[{regressionLineCoef.b | number: 3}]} <br />

    <span>\( n(0) = \)</span> {[{regressionLineCoef.a | number: 2}]} <br />
    single-oscillator energy <span>\( E_0 = \)</span> {[{singleOscillatorEnergy | number: 2}]} eV <br />
    dispersion energy <span>\( E_d = \)</span> {[{dispersionEnergy | number: 2}]} eV <br />
    <span>\( E_g^{(opt)} \approx \dfrac{E_0}{2} = \)</span> {[{taucGap | number: 2}]} eV
  </div>



  <!-- debug -->
  <!--
  <h2> Debug </h2>
  N: {[{N}]} <hr />
  n_1: {[{refractiveIndexFirstApproximation}]} <hr />
  calculation results: {[{calculationResultsArray}]} <hr />
  d_1 : {[{filmThicknessFirstApproximation}]} <hr />
  -->

</div>
