<div id="step-directives">
  <!-- <div id="test" ng-controller="Step1AdjustRawExperimentalDataCtrl"> -->
  <p>
    Ajust your experimental data so that you have transmission (Y-axis) ranging <b>from 0 to 1</b>, and wavelengths (X-axis) <b>in nanometers</b>.
  </p>
  <br />
  <br />
  <button ng-click="convertWavelengthToNanometers()">
    Convert wavelengths from 1/cm to nanometers (1/cm = 10^7/nm)
  </button>
  <br />
  <button ng-click="undoConvertWavelengthToNanometers()">
    Convert wavelengths from nanometers to 1/cm (1 nm = 10^7/cm)
  </button>
  <br />
  <button ng-click="convertTransmissionTo01()">
    Convert transmission from percents to [0..1] (divide by 100)
  </button>
  <br />
  <button ng-click="undoConvertTransmissionTo01()">
    Convert transmission from [0..1] to percents (multiply by 100);
  </button>
</div>
<!-- <div plot></div> -->
<div id="plot"></div>
<!--
  <div ng-click="showDataTable = !showDataTable" class="points-table-show-hide-button">
    show/hide data table
  </div>
  <div id="data-table"></div>
-->
