<div id="step-directives">
  <!-- <div id="test" ng-controller="Step1AdjustRawExperimentalDataCtrl"> -->
  <p>
    Ajust your experimental data so that you have transmission (Y-axis) ranging from 0 to 1, and wavelengths (X-axis) in nanometers.
  </p>
  <button ng-click="convertWavelengthToNanometers()" ng-show="!wavelengthConvertedToNanometers">
    Convert wavelengths from 1/cm to nanometers
  </button>
  <button ng-click="undoConvertWavelengthToNanometers()" ng-show="wavelengthConvertedToNanometers">
    Undo convert wavelengths from 1/cm to nanometers
  </button>
  <br />
  <button ng-click="convertTransmissionTo01()" ng-show="!transmissionConvertedTo01">
    Convert transmission from percents to [0..1]
  </button>
  <button ng-click="undoConvertTransmissionTo01()" ng-show="transmissionConvertedTo01">
    Undo convert transmission from percents to [0..1]
  </button>
</div>
<!-- <div plot></div> -->
<div id="plot"></div>
<!--
  <div ng-click="showDataTable = !showDataTable" class="points-table-show-hide-button">
    show/hide data table
  </div>
  <div id="data-table"></div>
-->
