<div id="step-directives">
  <!-- <h2>Extrema</h2> -->
  <div>
    Correct the extrema points (if needed).<br/>
    Left mouse click to add extremum.<br />
    Right click to remove extremum.<br />
    You can also set the boundaries, within which the program should look for extrema.
  </div>
  <div>
    <button ng-class="{'btn-pressed': maximaActive}" class="btn btn-red" ng-click="switchMouseClickFunction('maxima')">
      add maxima point
    </button>
  </div>
  <div>
    <button ng-class="{'btn-pressed': minimaActive}" class="btn btn-blue" ng-click="switchMouseClickFunction('minima')">
      add minima point
    </button>
  </div>
</div>
      <!-- boundaries -->
      <hr />
      <div class="vertical-margins">extrema left boundary: <input type="text" ng-model="extremaLeftBoundary" /></div>
      <div class="vertical-margins">extrema right boundary: <input type="text" ng-model="extremaRightBoundary" /></div>
      <button class="calculation-flow secondary" ng-click="recalculateExtrema()">Recalculate extrema considering new boundaries</button>

      <!-- extrema-plot -->
      <div id="plot" class="plot"></div>
    </div>
    <div>mouse coordinates on plot: <span id="extrema-plot-mouse-coordinates"></span></div>


    <!-- Extrema tables -->
      <!-- Minima table -->
      <!--
      <div class="points-table-name"> Minima </div>
      <div id="minima-table"></div>
      -->

      <!-- Maxima table -->
      <!--
      <div class="points-table-name"> Maxima </div>
      <div id="maxima-table"></div>

      <div class="small-font">
        Tables are editable!
      </div>

      <button
        class="calculation-flow save"
        ng-click="updateExtremaFromTables()"
      >
        Apply table edits 
      </button>
      -->
